html {
    scroll-behavior: smooth;
    scroll-padding-top: 210px;
}


/* Start header */

#do-subMenu:checked~.main-devices {
    padding-top: 200px;
}


/* End header */


/* Form-update */

.form-update {
    padding: 50px 0;
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* justify-content: space-evenly; */
}

.infor-rightAccount {
    width: 60%;
}

.form-update .accountUpdate {
    margin-top: 10px;
    width: 100%;
    /* margin-right: 15px; */
}

.form-update .avatar-account.accountUpdate {
    width: 40%;
    /* margin-left: 20px; */
    /* text-align: center; */
}

img.myAvatar {
    display: block;
    margin: 10px auto;
    margin-left: 50px;
    border-radius: 5px;
}

.form-update p.avatarAccountShow {
    /* text-align: center; */
    margin-left: 30px;
}

label#changeMyAvatar {
    /* display: block; */
    border-radius: 20px;
    cursor: pointer;
    font-size: 13px;
    padding: 5px 8px;
    margin-left: 74px;
    display: block;
    width: 106px;
    /* margin-top: 100px; */
    background-color: #ffffff;
    color: #222328;
    font-weight: bold;
    border: 2px solid #222328;
    transition: all linear 0.3s;
}

label#changeMyAvatar:hover {
    background-color: #000000;
    color: #ffffff;
}

p.noImage {
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 40px;
}

.form-update .accountUpdate p {
    font-size: 15px;
    font-weight: bold;
}

.form-update .accountUpdate input {
    padding: 7px 0 7px 5px;
    outline: none;
    margin-top: 5px;
    width: 100%;
}

.form-update .btn-account {
    margin-top: 30px;
}

.form-update .btn-account .btn-hmt {
    border-radius: 10px;
    padding: 8px 13px;
    font-size: 14px;
    background-color: #ffffff;
    outline: none;
    font-weight: bold;
    color: #000000;
    cursor: pointer;
    transition: all 0.5s;
}

.form-update .btn-account .btn-hmt:hover {
    background-color: #000000;
    color: #ffffff;
}


/* Form-update */


/* Start main devices */

.main-devices {
    margin-bottom: 50px;
    padding-top: 140px;
    transition: padding-top linear 0.2s;
}

.title-devices {
    display: flex;
    max-width: 1270px;
    margin: 0 auto;
    padding: 25px 0 25px 15px;
    background-color: #ffffff;
    border-radius: 8px;
    justify-content: center;
}

.title-devices .fa-solid {
    font-size: 28px;
    padding-right: 20px;
}


/* Start devices Product */

section.product-cat {
    max-width: 1270px;
    margin: 50px auto;
    border-radius: 8px;
    background-color: #ffffff;
}

section.product-cat .title-cat h3 {
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    padding: 25px 0;
    border-bottom: 1px solid #b8bfd3;
}

section.product-cat .title-cat h3 .fa-solid {
    font-size: 24px;
    padding-right: 8px;
}

.products-cat {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    padding: 10px 15px 50px 15px;
}

.product-catSc {
    text-align: center;
    padding-top: 40px;
}

.product-catSc p {
    text-transform: uppercase;
    padding: 10px 0;
    font-size: 14px;
    font-weight: bold;
    color: #b0b0b0;
}

.product-catSc .price-catSc {
    padding-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.product-catSc .price-catSc .root {
    text-decoration: line-through;
    color: #b0b0b0;
    font-size: 16px;
}

.product-catSc .price-catSc .discount {
    font-size: 16px;
}

.image-catSc img {
    padding-bottom: 20px;
    width: 100%;
}

.addTo-Cart {
    padding: 30px 0 0 0;
}

.addTo-Cart button {
    cursor: pointer;
    padding: 5px 20px;
    border-radius: 5px;
    border: 1px solid #222328;
    color: #e4e5e7;
    background-color: #222328;
    font-weight: bold;
    animation: zoom-in-zoom-out2 2s ease-out infinite;
}

@keyframes zoom-in-zoom-out2 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.9, 0.9);
    }
    100% {
        transform: scale(1, 1);
    }
}


/* Start naviation down */

.navigation-rows-down {
    max-width: 1270px;
    border-radius: 8px;
    margin-top: 30px;
    background-color: #ffffff;
    display: flex;
    padding: 30px 0;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.navigation-rows-down .arrow-left {
    padding-left: 100px;
}

.navigation-rows-down .arrow-right {
    padding-right: 100px;
}

section.navigation-rows-down .navigation-number ul li {
    display: inline-block;
}

section.navigation-rows-down .navigation-number ul li a {
    display: block;
    padding: 10px 15px;
    font-size: 15px;
    font-weight: bold;
}

section.navigation-rows-down .navigation-number ul li a:hover {
    color: #b9bed1;
    border-radius: 20px;
    background-color: #000;
    transition: 0.6s;
}


/* End naviation down */


/* End main devices */