* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #000;
    box-sizing: border-box;
    font-family: "Roboto";
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.header {
    padding: 20px 0;
    margin-left: 31px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1.5px solid #ccc;
}

.table-manager.listsp {
    display: block;
}

.form.listsp {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.btn.listsp {
    display: flex;
    justify-content: center;
}

.btn.listsp .repair {
    margin-right: 8px;
}

.btn.listsp .repair.view_Detail {
    margin-right: 0px;
    padding: 10px 15px;
    border-radius: 10px;
}

.table-manager .selection.listsp {
    margin: 0 20px 0 0;
}

.title-small {
    display: flex;
    align-items: center;
}

.title-small .icon-menu .fa-solid {
    font-size: 24px;
    padding: 0 15px;
    cursor: pointer;
}

.title-small p {
    color: #ccc;
}

.name-setting-admin p i.fa-solid {
    padding-left: 10px;
    font-size: 15px;
}

.name-setting-admin p {
    cursor: pointer;
    font-size: 17px;
    color: rgb(133, 125, 125);
}

.find-pr-cat {
    padding-top: 40px;
    margin-left: 31px;
}

.find-pr-cat form label {
    font-size: 24px;
    font-weight: bolder;
}

th.nameProduct {
    width: 180px;
}

.find-pr-cat form input {
    outline: none;
    padding: 10px 0 10px 10px;
    width: 500px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.find-pr-cat form button {
    outline: none;
    padding: 10px 15px;
    background-color: #269977;
    border: 1px solid #269977;
    color: #FFFFF6;
    border-radius: 5px;
    margin-left: 10px;
    font-weight: bold;
}

.table-manager {
    padding-top: 0;
}

.table-manager table {
    border-collapse: collapse;
    border-color: rgb(135, 137, 139);
}

.table-manager table tr th {
    padding: 10px 15px;
    background-color: #ccc;
}

.table-manager table tr td {
    padding: 10px 5px;
    font-size: 14px;
    text-align: center;
}

.table-manager table tr td button {
    cursor: pointer;
    padding: 5px 10px;
    background-color: #269977;
    border: 1px solid #269977;
    color: #FFFFF6;
    border-radius: 5px;
    font-weight: bold;
}

.table-manager h2 {
    padding: 20px 0 30px 0;
}

.table-manager .selection {
    margin: 20px 0;
    padding: 10px;
    width: 200px;
    outline: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.table-manager .one {
    margin-left: 20px;
}

.table-manager .btn-see {
    cursor: pointer;
    padding: 10px;
    outline: none;
    font-weight: bold;
    background-color: #269977;
    border: 2px solid #269977;
    color: #FFFFF6;
    border-radius: 5px;
}

.table-manager .btn-see .fa-solid {
    color: #FFFFF6;
    font-size: 15px;
    padding-right: 5px;
}

div.alert-success {
    font-size: 15px;
    font-weight: bold;
    padding: 20px 0 20px 20px;
    border-radius: 5px;
    margin-bottom: 30px;
    background-color: #ccc;
    color: rgb(126, 95, 95);
}

ul.nav {
    background-color: yellow;
    position: absolute;
    display: none;
}

ul.nav>li {
    list-style: none;
    display: block;
}

ul.nav>li>a {
    display: block;
    padding: 10px 20px;
    font-size: 14px;
}

.name-setting-admin:hover~ul.nav {
    display: block;
}
